//variables
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
$size: 16px;

:root
{
    --anti-white: #E9EFEC;
    --ash-gray: #C4DAD2;
    --cam-blue: #6A9C89;
    --brun-green: #16423C;
    --night: #0A100D;

}

//mixin for mode switch
@mixin mode ($bgcolor, $color)
{
    background-color: $bgcolor;
    color: $color;
}

//light and dark mode setting
body
{
    &.light-mode
    {
        @include mode(var(--anti-white), var(--night));
        .btn
        {
            @include mode(var(--brun-green), var(--anti-white));
        }
        .header
        {
            @include mode(var(--anti-white), var(--night));
        }
        .content
        {
            @include mode(var(--cam-blue), var(--night));
            .sample-book
            {
                @include mode(var(--anti-white), var(--night));
            }
        }
        .footer
        {
            @include mode(var(--brun-green), var(--anti-white));
        }
        a
        {
            color: var(--anti-white);
        }
    }
    &.dark-mode
    {
        @include mode(var(--night), var(--anti-white));
        .btn
        {
            @include mode(var(--brun-green), var(--anti-white));
        }
        .header
        {
            @include mode(var(--night), var(--anti-white));
        }
        .content
        {
            @include mode(var(--brun-green), var(--anti-white));
            .sample-book
            {
                @include mode(var(--night), var(--anti-white));
            }
        }
        .footer
        {
            @include mode(var(--night), var(--ash-gray));
        }
        a
        {
            color: var(--anti-white);
        }
    }
    margin: 0;
    padding: 0;
    border: none;
}

//text
.text
{
    font-size: $size;
    font-family: 'Noto Sans', sans-serif;
    overflow-wrap: break-word;
    &.title
    {
        font-size: ($size*2);
        font-weight: 600;
    }
    &.heading
    {
        font-size: 24px;
    }
    &.sub-heading
    {
        font-size: 20px;
        font-weight: 500;
    }
}

a, a:active, a:visited, a:focus
{
    text-decoration: none;
}

.btn
{
    padding: 10px $size;
    font-size: $size;
}

//hide and show classes
.hide
{
    display: none;
}
.show
{
    display: inline-block;
}

//form
.form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $size;
    *
    {
        padding: 5px;
        margin: 10px;
    }
    .is-read
    {
        display: flex;
        flex-direction: row;
        .book-read-check
        {
            padding: 10px;
        }
    }
}

.btn-img
{
    width: 50px;
    height: 50px;
}

.books-place
{
    margin: 20px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    .sample-book
    {
        border-radius: 7%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: $size;
        line-height: 1.2;
        margin: $size;
        box-shadow: 0 3px 10px var(--night);
        text-align: center;
        padding: 20px;
        .action-btns
        {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}

.header
{
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    .nav-btn-container
    {
        display: flex;
        gap: 30px;
        margin-right: 20px;
        cursor: pointer;
        transition: opacity 0.3s;
        border: none;
        &:hover
        {
            opacity: 0.8;
        }
    }
}

.footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 480px)
{
    .title
    {
        left: 30%;
    }
}
